# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
documents/node_modules
documents/.pnp
.pnp.js

# testing
documents/coverage

# production
documents/build

# misc
.DS_Store
documents/.env.local
documents/.env.development.local
documents/.env.test.local
documents/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# emacs
*~
\#*\#